
.cnt-fatherCardSlider{
    display: flex;
    justify-content: center;
}
.cnt-CardSlider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    width: 100%;
    
}

.cnt-Pcard {
    top: -8rem;
    display: flex;
    width: 310px;
    height: 269px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

.cnt-Pcard,
h2 p {
    text-align: center;
    color: black;
}

.cnt-Pcard h2 {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 14.57px;
    padding: 20px 0;
}

.cnt-Pcard p {
    font-family: 'FivoSans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18.9px;
    color: #717171;
    padding: 0 30px;
}

.cnt-Pcard button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Syncopate", sans-serif;
    width: 186px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background-color: #0B000E;
    color: white;
    padding: 10.91px 30px 10.91px;
    border: none;
    margin-top: 20px;
}