.cnt-Two {
    padding: 50px 0 16rem;
    background-color: white;
    padding: 120px 0 16rem;
}

.cnt-h2 h2,
.cnt-h2Exclu h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: black;
}

.cnt-h2 p,
.cnt-h2Exclu p {
    padding: 10px 29px 18px;
    font-family: 'FivoSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: #4A4A4A;
}

.cnt-fatherImgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.cntImgCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image3,
.image4,
.image5,
.image6 {
    width: 32.43px;
    height: 32.43px;
}

.cntImgCard p {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.p3 {
    color: #8300D9;
}

.p4 {
    color: #9300C7;
}

.p5 {
    color: #A200B6;
}

.p6 {
    color: #CE0080;
}

.cnt-Three {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 384px;
    background: linear-gradient(to bottom, #1ABBAD, #25A6DD);
}

.cntGroup2 {
    position: absolute;
    top: -9.75rem;
}

.cntGroup2 img {
    width: 400px;
}

.cnt-h2Exclu h2,
.cnt-h2Exclu p {
    color: white;
}

.best-seller {
    width: 300px;
    padding: 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.icon {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.shop-now {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.shop-now:hover {
    background-color: #444;
}

.cnt-stp,
.cnt-imgStepp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.cnt-imgStepp {
    padding: 15px 0;
}

.titlleStep {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: black;
    padding-top: 60px;
}

.textStep {
    font-family: 'FivoSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: black;
    padding: 30px 20px;
}

.titileImgStep {
    font-weight: 700;
    font-size: 14px;
    line-height: 14.57px;
    text-align: center;
    color: black;
    padding: 20px 0;
}

.textImgStep {
    font-family: 'FivoSans';
    font-weight: 400;
    font-size: 16px;
    line-height: 16.8px;
    text-align: center;
    color: #717171;
}

.learMoreStep,
.learMcta {
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #BC00F4;
    padding: 20px 0;
}

.btn-step {
    width: 175px;
    height: 55px;
    margin-bottom: 70px;
}

.cnt-callToActionOne {
    background-color: #161428;
    padding: 40px 20px 30px;
    text-align: center;
}

.tittleCTAOne {
    font-weight: 700;
    font-size: 18px;
    line-height: 18.74px;
    color: #FFFFFF;
}

.textCTAOne {
    font-family: 'FivoSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: #BCBCBC;
    padding-top: 20px;
}

.cnt-callToActionTwo {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../../src/assets/bCTAtwo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -49px;
    background-position-y: -30px;
}

.cnt-titleCtaTwo {
    padding: 40px 0 30px;

}

.titleCtaTwo {
    font-weight: 700;
    font-size: 18px;
    line-height: 18.74px;
    color: black;
    padding-bottom: 20px;
}

.textCtaTwo {
    font-family: 'FivoSans';
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    padding: 20px 2rem 15px;
}

.cnt-imgCtaTwo {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
}

.learMcta {
    color: white;
    padding: 44px 0 63px;
}

.cnt-SliderComments {
    padding-top: 13rem;
    background-color: white;
}

.titleSliderComments {
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: black
}

.textSliderComments {
    font-family: 'FivoSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: #4A4A4A;
    padding: 20px 20px 155px;
}

.custom-icon2 {
    padding: 0;
    font-size: 13px;
}

.cnt-SliderBackPurple {
    height: 380px;
    background: linear-gradient(to bottom, #BA00FF, #8839FE);
}

.cnt-limitCommets {
    background-color: #B406FF;
}

.btnSliderComments {
    color: white;
    background-color: black;
    border: none;
    padding: 15px 6px;
}

@media screen and (min-width: 768px) {

    .cnt-h2 h2,
    .cnt-h2Exclu h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 44.8px;
        text-align: center;
    }

    .cnt-h2 p,
    .cnt-h2Exclu p {
        font-size: 20px;
        line-height: 28px;
    }

    .image3,
    .image4,
    .image5,
    .image6 {
        width: 60px;
        height: 60px;
    }

    .cntGroup2 img {
        width: 554px;
        position: relative;
        top: -61px;
    }

    .cntImgCard p {
        font-size: 14px;
        line-height: 19.6px;
        padding: 0 20px;
    }

    .btnSectiontwo {
        width: 224px;
        height: 65px;
    }

    .cnt-Three {
        padding-top: 62px;
    }

    .cnt-h2Exclu h2 {
        padding: 0 63px;
    }

    .titlleStep {
        font-size: 32px;
        line-height: 44.8px;
        padding: 60px 30px 0;
    }

    .textStep {
        font-size: 20px;
        line-height: 28.4px;
    }

    .cnt-FatherImgStep {
        display: flex;
        width: 750px;
        background-image: url(/src/assets/arrowStepOne.png), url(/src/assets/arrowStepTwo.png), url(/src/assets/arrowStepThree.png);
        background-repeat: no-repeat;
        background-size: 100px 30px, 100px 30px, 100px 30px;
        background-position-x: 145px, 328px, 520px;
        background-position-y: 26%, 10%, 28%;
    }

    .cnt-imgStepp {
        background-color: transparent;
    }
    .titleCtaTwo{
        font-size: 20px;
        line-height: 20.82px;
    }

    .tittleCTAOne {
        font-size: 32px;
        line-height: 33.31px;
    }

    .textCTAOne {
        font-size: 20px;
        line-height: 28px;
    }

    .cnt-CTAmediaQuery {
        width: 425px;
        height: 399px;
        margin: 40px 0 0 40px;
    }

    .cnt-titleCtaTwo {
        text-align: left;
    }

    .textCtaTwo {
        font-size: 19px;
        line-height: 28.4px;
        padding: 0;
    }

    .cnt-callToActionTwo {
        text-align: left;
        align-items: start;
    }

    .cnt-imgCtaTwo {
        justify-content: start;
        padding-bottom: 30px;
    }
}