.cnt-One {
    margin: 30px;
}

.pOne {
    font-size: 10px;
    font-weight: 400;
    line-height: 13.7px;
    letter-spacing: 10px;
    text-align: center;
}

.titleOne {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    color: white;
}

.pTwo {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #FB3DD2;
    padding-bottom: 10px;
}

.pThree {
    font-family: 'FivoSans', sans-serif;
    max-width: 400px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    padding-bottom: 11px;
    text-align: center;
}

.cntBtnOne {
    display: flex;
    justify-content: center;
}

.cntBtnOne button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Syncopate", sans-serif;
    width: 225px;
    height: 62px;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    background-color: #0B000E;
    color: white;
    padding: 8.49px 33.96px 8.49px 33.96px;
    border: 0.7px solid white;
}

.bi-arrow-right {
    font-size: 23px;
    padding-left: 10px;
}

.cnt-Frasco3 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.cnt-FrasImage {
    position: relative;
}

.image7 {
    right: 130px;
    top: 23rem;
    position: absolute;
}

.cnt-Two {
    padding: 50px 0 16rem;
    background-color: white;
}

.cnt-h2 h2,
.cnt-h2Exclu h2 {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    text-align: center;
    color: black;
}

.cnt-h2 p,
.cnt-h2Exclu p {
    padding: 10px 29px 18px;
    font-family: 'FivoSans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    text-align: center;
    color: #4A4A4A;
}

.cnt-fatherImgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.cntImgCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image3,
.image4,
.image5,
.image6 {
    width: 32.43px;
    height: 32.43px;
}

.cntImgCard p {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
}

.p3 {
    color: #8300D9;
}

.p4 {
    color: #9300C7;
}

.p5 {
    color: #A200B6;
}

.p6 {
    color: #CE0080;
}

.cnt-Three {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 384px;
    background: linear-gradient(to bottom, #1ABBAD, #25A6DD);
}

.cntGroup2 {
    position: absolute;
    top: -9.75rem;
}

.cnt-h2Exclu h2,
.cnt-h2Exclu p {
    color: white;
}