.shop-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: black;
    padding: 60px 0;
}

.productBox-image {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.titleH1Shop {
    font-weight: 700;
    font-size: 25px;
    line-height: 44.8px;
    text-align: center;
    padding-bottom: 50px;
}

.titleH2Shop {
    font-weight: 700;
    font-size: 40px;
    line-height: 37.2px;
    padding: 40px 0 0;
}

.price {
    font-size: 30px;
    font-weight: 700;
    line-height: 24.8px;
    padding: 20px 0;
}

.product-description,
.quantyShop {
    font-family: 'FivoSans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: #4A4A4A;
    border-top: 1px solid #E3E3E3;
    padding: 20px 0;
}

.quantyShop {
    font-weight: 700;
    padding-bottom: 20px;
    color: black;
}

.cnt-quantity {
    padding: 0 0 30px;
}

.quantity-btn {
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid black;
    background-color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.quantity-display {
    padding: 0 30px;
    font-size: 20px;
    font-weight: 700;
}

.order-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Syncopate", sans-serif;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 15px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.rowShopNow {
    font-weight: 700;
    padding: 0;
    padding-left: 10px;
}

@media screen and (min-width: 768px) {
    .titleH1Shop {
        font-size: 40px;
        line-height: 48.8px;
    }

    .productBox-image {
        display: flex;
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {

    .product-card {
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

    .productBox-image {
        height: 400px;
    }
}

@media screen and (min-width: 1440px) {
    .product-card {
        max-width: 1000px;
        margin: 0 auto;
    }
}